<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ionic.ylnewapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".view.main.BLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="io.ionic.ylnewapp.fileProvider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/provider_paths" /> -->
        <!-- </provider> -->


        <!-- 加了更新的时候换成了这个。不换会报错 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.ionic.ylnewapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--友盟统计配置Appkey与Channel-->
        <!--value的值填写你在友盟后台申请的应用Appkey-->
        <meta-data android:value="5b46eb81f29d987845000023" android:name="UMENG_APPKEY"/>
        <!--value的值填写渠道名称，例如yingyongbao。这里设置动态渠道变量-->
        <meta-data android:value="pugongying" android:name="UMENG_CHANNEL"/>


        <activity
            android:name=".view.activity.user.SplashActivity"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".view.activity.user.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.activity.mine.FriendActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.AboutActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.ProductsDIGActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.user.ChangeHeadActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.user.ForgetGetCodeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.user.ForgetResetPwdActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.ProductAIActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.DIGDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.OtherDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.PaySuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.UerTificationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.NotificationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.NotifiCaDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.BankListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.BankAddActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.CouponsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.RechargeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.WithdrawalActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.WalletAdAddActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.WalletManaActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.SelectCurrency"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.CurrencySearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.WalletDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.WalletAddMoneyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.WalletOutMoneyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.MyWaletAddressActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.WalletOptionSuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.WithdrawSuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.SelectBankActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.SettingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.PassManaActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.EdPayPassActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.AddPayPassActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.MyActiActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.ActivitesDetail"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.ActivitesDetail2"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.EdLoginPassActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.ForgetPayActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.FeedbackActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.MoneyDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.kline.Enable_Refresh_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.order.MyOrderActivity"
            android:launchMode="singleTop" />
        <activity android:name=".view.activity.market.ZxSzDetailActivity" />
        <activity
            android:name=".view.activity.user.AgreementActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.market.MarketSearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.WebViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.all.BitAssesActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.MyCountMoneyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.order.MoreOrderActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.MyCountCoinActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.user.GuideActivity"
            android:launchMode="singleTop" />
        <activity android:name=".view.activity.mine.HelpActivity"></activity>
    </application>

</manifest>