<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ionic.ylnewapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".view.main.BLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="io.ionic.ylnewapp.fileProvider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/provider_paths" /> -->
        <!-- </provider> -->


        <!--魅族push应用定义消息receiver声明 -->
        <receiver android:name=".view.activity.push.MeizuTestReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />
                <category android:name="io.ionic.ylnewapp"></category>
            </intent-filter>
        </receiver>






        <!-- 加了更新的时候换成了这个。不换会报错 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.ionic.ylnewapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 友盟统计配置Appkey与Channel -->
        <!-- value的值填写你在友盟后台申请的应用Appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b47285ef43e4873bd000066" />
        <!-- value的值填写渠道名称，例如yingyongbao。这里设置动态渠道变量 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="pugongying" />

        <activity
            android:name=".view.activity.user.SplashActivity"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tonative"
                    android:scheme="myapp" />
            </intent-filter>
        </activity>




        <!--友盟分享新浪配置-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            >
        </activity>
        <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
            <!--<intent-filter>-->
                <!--<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>
        <!--友盟分享微信配置-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--友盟分享QQ配置-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>




        <activity
            android:name=".view.activity.push.MipushTestActivity"
            android:launchMode="singleTask"
            android:exported="true" />





        <!--其他Activity-->
        <activity
            android:name=".view.activity.user.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".view.activity.mine.FriendActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.AboutActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.ProductsDIGActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.user.ChangeHeadActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.user.ForgetGetCodeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.user.ForgetResetPwdActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.ProductAIActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.DIGDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.OtherDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.PaySuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.UerTificationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.NotificationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.NotifiCaDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.BankListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.BankAddActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.CouponsActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tonative"
                    android:scheme="coupons" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.mine.RechargeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.WithdrawalActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.WalletAdAddActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.WalletManaActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.SelectCurrency"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.CurrencySearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.WalletDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.WalletAddMoneyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.WalletOutMoneyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.MyWaletAddressActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.wallet.WalletOptionSuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.WithdrawSuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.SelectBankActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.SettingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.PassManaActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.EdPayPassActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.AddPayPassActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.MyActiActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.EdLoginPassActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.ForgetPayActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.FeedbackActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.MoneyDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.kline.Enable_Refresh_Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.order.MyOrderActivity"
            android:launchMode="singleTop" />
        <activity android:name=".view.activity.market.ZxSzDetailActivity" />
        <activity
            android:name=".view.activity.user.AgreementActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.market.MarketSearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.WebViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.all.BitAssesActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.MyCountMoneyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.order.MoreOrderActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.MyCountCoinActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.user.GuideActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.HelpActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.all.BannerDeatilActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.CardPaySuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.WalletPaySuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.product.BalancePayActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.mine.MyActivityDetailActivity"
            android:launchMode="singleTop" />
        <activity android:name=".view.activity.all.MyTest"></activity>
    </application>

</manifest>